.black {
	background-color: black;
	width: 100%;
}

.red {
	background-color: red;
	height: 100px;
}

.nameplate {
	text-align: center;
}

#kitteh {
	display: block;
	margin: 0 auto;
}

#currentKitteh .ui-selecting { background: #FECA40; }
#currentKitteh .ui-selected { background: #F39814; color: white; }
#currentKitteh { list-style-type: none; margin: 0 auto; padding: 0; width: 60%;  }
#currentKitteh li { margin: 3px; padding: 0.4em; text-align: center; background-position: 100%; padding-right: 0.6em; }

#gameUI {
	text-align: center;
}

#scoreboard {
	margin: 0 auto;
}