.black {
	background-color: black;
	width: 100%;
}

.red {
	background-color: red;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.nameplate {
	text-align: center;
}

.hidden {
	display: none
}

.visible {
	display: block;
	margin: 0 auto;
}

.title {
	font-family: 'Luckiest Guy', cursive;
	font-size: 60px;
	height: 100%;
	vertical-align: middle;
}

.premium {
	font-family: 'Pinyon Script', cursive;
	font-size: 40px;
	color: silver;
	text-shadow: 1px 1px #3D3D3D;
}

#adminConsole {
	height: 200px;
	background-color: gray;
}

#instructions {
	font-size: 30px;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
}

#kitteh {
	display: block;
	margin: 0 auto;
}

#kittehList .ui-selecting { background: #FECA40; }
#kittehList .ui-selected { background: #F39814; color: white; }
#kittehList { list-style-type: none; margin: 0 auto; padding: 0; width: 60%; }
#kittehList li { margin: 3px; padding: 0.4em; text-align: center; background-position: 100%; padding-right: 0.6em; }

#selectUI {
	text-align: center;
}

#score {
	font-size: 18px;
}