.black {
	background-color: black;
	width: 100%;
}

.red {
	background-color: red;
	height: 100px;
}

.nameplate {
	text-align: center;
}

.hidden {
	display: none
}

.visible {
	display: block;
}

#kitteh {
	display: block;
	margin: 0 auto;
}

#kittehList .ui-selecting { background: #FECA40; }
#kittehList .ui-selected { background: #F39814; color: white; }
#kittehList { list-style-type: none; margin: 0 auto; padding: 0; width: 60%; }
#kittehList li { margin: 3px; padding: 0.4em; text-align: center; background-position: 100%; padding-right: 0.6em; }

#selectUI {
	text-align: center;
}

#score {
	font-size: 18px;
}